<!-- Navbar -->
<nav class="navbar navbar-light shadow-sm">
    <div class="container">
        <a routerLink="/" class="navbar-brand mb-0 h1 text-muted">URL Shortener</a>
    </div>
</nav>

<router-outlet></router-outlet>

<footer class="footer mt-auto">
    <div class="container d-flex align-items-center">
        This project was created as part of &laquo;Neueda Frontend Assignment&raquo;
    </div>
</footer>