<div class="row no-gutters">
    <div class="col-lg-7">
        <!-- Original URL -->
        <input class="form-control mb-1"
            placeholder="Your original URL here"
            [(ngModel)]="urlInput"
            (keydown.enter)="shortenUrl()"
            [disabled]="isLoading">
        <!-- Custom Name -->
        <div class="input-group mb-1"
            *ngIf="showCustomName">
            <div class="input-group-prepend">
                <span class="input-group-text">{{ getShortDomain() }}/</span>
            </div>
            <input class="form-control"
                placeholder="Custom name"
                [(ngModel)]="customNameInput"
                (keydown.enter)="shortenUrl()"
                [disabled]="isLoading">
        </div>
        <!-- Disclaimer -->
        <p class="text-white mt-3">All URLs and click analytics are public and can be accessed by
            anyone. You can also provide <u class="cursor-pointer"
                (click)="showCustomName = true">custom name</u> for your URL.</p>
        <!-- Errors -->
        <alert type="danger"
            [dismissOnTimeout]="3000"
            (onClosed)="errorMsg = undefined"
            *ngIf="errorMsg">
            {{errorMsg}}
        </alert>
    </div>
    <div class="col-lg-5">
        <button class="btn btn-light ml-4 shadow-sm"
            (click)="shortenUrl()"
            [disabled]="isLoading">
            SHORTEN URL
        </button>
    </div>
</div>