<section class="header pt-4 pb-3">
    <div class="container">
        <!-- Errors -->
        <alert type="danger"
            *ngIf="errorMsg">
            {{errorMsg}}
        </alert>

        <h4 class="text-muted"
            *ngIf="link">
            Analytics Data for <a [href]="link.shortUrl"
                target="_blank">{{ link.shortUrl }}</a>
        </h4>
    </div>
</section>

<section class="pt-5">
    <div class="container">
        <table class="table table-bordered stats-table"
            *ngIf="link">
            <tbody>
                <tr>
                    <th>Created At</th>
                    <td>{{ link.createdAt | date: 'dd-MMM-yyyy HH:mm' }}</td>
                </tr>
                <tr>
                    <th>Last Access At</th>
                    <td>{{ link.lastAccessAt ? (link.lastAccessAt | date: 'dd-MMM-yyyy HH:mm') : '—' }}</td>
                </tr>
                <tr>
                    <th>Original URL</th>
                    <td><a [href]="link.originalUrl"
                            target="_blank">{{ link.originalUrl }}</a>
                    </td>
                </tr>
                <tr>
                    <th>Total Clicks</th>
                    <td>{{ link.stats?.totalClicks || 0 }}</td>
                </tr>
            </tbody>
        </table>

        <h2 class="text-center mb-3 mt-5">Operating Systems</h2>
        <canvas #osChart
            class="w-100 mb-5"></canvas>

        <h2 class="mt-5 text-center mb-3">Browsers</h2>
        <canvas #browserChart
            class="w-100 mb-5"></canvas>

    </div>
</section>