/* You can add global styles to this file, and also import other style files */

@import '~roboto-fontface/css/roboto/roboto-fontface.css';

// font awesome
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts" !default;
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";

html,
body {
    height: 100%;
}

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

.cursor-pointer {
    cursor: pointer;
}