<div class="list-group">
    <div class="list-group-item d-flex align-items-center"
        *ngFor="let link of links">
        <span class="original-link-text">{{ link.originalUrl }}</span>
        <span class="ml-auto">
            <a [href]="link.shortUrl" target="_blank">{{ link.shortUrl }}</a>
            <a class="btn btn-sm btn-outline-primary ml-5"
                routerLink="/stats/{{ link.hash }}">Statistics</a>
        </span>
    </div>
</div>