.feature-header {
    display: flex;
    align-items: center;

    .fas {
        padding: 1rem;
        color: white;
        border-radius: 50%;
    }

    h3 {
        margin-bottom: 0;
        color: #5c5c5c;
        margin-left: 0.75rem;
    }
    margin-bottom: 1rem;
}
