<!-- URL Shortener -->
<section class="bg-primary shadow pt-5 pb-5">
    <div class="container">
        <h1 class="text-white mb-3">Simplify your links</h1>
        <app-short-link-input></app-short-link-input>
    </div>
</section>

<!-- Features -->
<section class="pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="feature-header">
                    <i class="fas fa-link bg-info"></i>
                    <h3>Shorten</h3>
                </div>
                <p class="text-muted">Shorten your URL so it’s ready to be shared everywhere</p>
            </div>
            <div class="col-lg-4">
                <div class="feature-header">
                    <i class="fas fa-chart-line bg-primary"></i>
                    <h3>Track</h3>
                </div>
                <p class="text-muted">Analytics help you know where your clicks are coming from</p>
            </div>
            <div class="col-lg-4">
                <div class="feature-header">
                    <i class="fas fa-users bg-success"></i>
                    <h3>Learn</h3>
                </div>
                <p class="text-muted">Understand and visualize your audience</p>
            </div>
        </div>
    </div>
</section>

<!-- History of Links -->
<section class="pb-5">
    <div class="container">
        <app-short-link-history-list></app-short-link-history-list>
    </div>
</section>